<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Page</title>
</head>

<body>
    <h1>User Page</h1>
    {{#user}}
    <h2>Login Successful</h2>
    <h3>You are logged in as: {{username}}</h3>
    <form action="/click" method="post">
        <button type="submit">Click Me</button> <br>
    </form>
    {{#clicks}}
    <h4>You've clicked the button {{clicks}} times</h4>
    {{/clicks}}
    <br>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    {{/user}}
</body>

</html>