<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Login</title>
</head>

<body>
    <h1>Login</h1>
    <form action="/" method="post">
        <label for="username">User Name:</label> <br>
        <input type="text" name="username" placeholder="username"> <br> <br>
        <label for="password">Password:</label> <br>
        <input type="password" name="password" placeholder="password"> <br> <br>
        <button type="submit">Login</button> <br>
    </form>
    <h4>Not registered? <a href="/signup">Signup Here</a></h4>
</body>

</html>